<% include partials/header %>

<div class="container">
  <div class="mypictures">
    <h1>My Pictures</h1>
    <% if(pictures.length == 0) { %>
      <div class="nopicture">
        <h3>You haven't post any pictures yet.</h3>
      </div>
    <% } %>

    <% pictures.forEach(function(pic) { %>
      <div class="row">
        <div class="col-lg-4">
          <img class="thumbnail" src="<%= (pic.mediaType == 'image') ? pic.url : pic.thumbUrl %>" alt="">
        </div>
        <div class="col-lg-8">
          <h3><%= pic.title %></h3>
          <a href="/picture/<%= pic._id %>" type="button" class="btn btn-success btn-sm">View</a>
          <a href="/picture/<%= pic._id %>/edit" type="button" class="btn btn-warning btn-sm">Edit</a>
          <form action="/picture/<%= pic._id %>?_method=delete" method="post">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
